<div class="navigation">
    <ul class="list-nav">
        {#        test page#}
        <li class="part-list-nav">
            <a class="part-list-nav-link" href="/test-page"> تست</a>
        </li>
        <li class="part-list-nav">
            <a class="part-list-nav-link" href="/admin">صفحه ادمین</a>
        </li>
        <li class="part-list-nav">
            <a class="part-list-nav-link" href="/account-form">اطلاعات اکانت</a>
        </li>
        <li class="part-list-nav">
            <a class="part-list-nav-link" href="/contact-us">تماس با ما</a>
        </li>
        <li class="part-list-nav">
            <a class="part-list-nav-link" href='/post-list'>لیست مطالب</a>
        </li>
        <li class="part-list-nav">
            <a class="part-list-nav-link" href="/"> صفحه اصلی</a>
        </li>




    </ul>
</div>