{% load static %}

<html lang="en">
<head>
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <title>Blog:{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/paginator.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="base-header">
{% include 'blog/partial/header.html' %}
</div>
<div class="base-navigation">
{% include 'blog/partial/navigation.html' %}
</div>
<div class="base-content">
    {% block content %}
    {% endblock %}
</div>
<div class="base-footer">
    {% include 'blog/partial/footer.html' %}
</div>
</body>
</html>